<div class="px-4 py-1 bg-primary-base" over-header>
  @if(up.targetIncludes('[over-header]'))
  <div class="max-w-screen-xl mx-auto flex flex-row justify-end">
    <a href="https://le-classement.fr" target="_blank" class="text-sm text-black">
      Retourner sur le-classement.fr
    </a>
  </div>
  @endif
</div>
