PORT=3333
HOST=0.0.0.0
APP_HOST=<appp_host>
NODE_ENV=development
APP_KEY=nJnQecg04UQZ0j8ATSt8l2E8oGqKMCdG
DRIVE_DISK=local
DRIVE_ROOT=<drive_root>
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
SES_ACCESS_KEY=<aws-access-key>
SES_ACCESS_SECRET=<aws-secret>
SES_REGION=us-east-1
AUTH_USERNAME=<username>
AUTH_PASSWORD=<password>
ENABLE_VOTE=false
CLARITY_ID=<clarity-id>
