<canvas id="votes-by-day" width="400" height="400"></canvas>

<script>
  const votesByDayData = {
labels: {{ safe(stringify(labels)) }},
datasets: [{
label: 'Nombre de votes',
data: [{{ data }}],
fill: false,
borderColor: '#ff6944',
tension: 0.1
}]
}
</script>
