<article
  class="hover:shadow-lg bg-ultra-light-grey rounded-2xl p-4 flex flex-col gap-4 text-black transition ease-in duration-200">
  <a class="flex flex-col gap-4" href="{{ route('AssociationsController.show', { id: association.slug }) }}">
    <div class="flex-grow flex flex-col gap-3">
      @if(association.image)
      <figure class="w-full rounded-lg overflow-hidden">
        <img class="w-ful h-auto" width="512" height="512" alt="Image de l'association {{ association.name }}"
          src="{{ association.image.url }}" loading="lazy" />
      </figure>
      @endif
      <div class="flex-grow flex flex-col justify-end">
        <div class="flex flex-row justify-between items-center">
          <div>
            @if(association.category)
            @!atoms.appTag({
            name: association.category.name,
            })
            @endif
          </div>
          <p>
            {{ association.$extras.votes_count ?? 0 }} voix
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <h2 class="text-xl font-bold">
        {{ association.name }}
      </h2>
      @if(association.school)
      <p>
        {{ association.school.name }}
      </p>
      @endif
    </div>
  </a>
  @if(association.description)
  <div class="text-sm" x-data="{ expanded: false }">
    <div x-show="expanded" x-collapse.min.40px>
      {{{ association.description }}}
    </div>
    <div class="mt-2 flex flex-row justify-between">
      <button class="py-1 rounded-md text-accent-purple hover:text-primary-variation-1 transition ease-in"
        x-on:click="expanded = !expanded">
        <span x-text="expanded ? 'Voir moins' : 'Voir le texte'"></span>
      </button>
      <a href="{{ route('AssociationsController.show', { id: association.slug }) }}"
        class="px-3 py-1 bg-white text-accent-purple hover:text-primary-variation-1 rounded-md transition ease-in"
        x-on:click="expanded = !expanded">
        En savoir plus
      </a>
    </div>
  </div>
  @endif
</article>
