@atoms.appFilter({
action: route('AssociationsController.index'),
})

@slot('main')

@!atoms.appSelect({
label: 'Trier par',
name: 'order_by',
selected: request.qs().order_by ?? '',
options: [
{
label: 'Nombre de voix',
value: 'votes_count',
},
{
label: 'Aléatoire',
value: 'rand',
},
{
label: 'Nom',
value: 'name',
},
],
})

@!atoms.appSelect({
label: 'Ordre',
name: 'order',
selected: request.qs().order ?? '',
options: [
{
label: 'Décroissant',
value: 'desc',
},
{
label: 'Croissant',
value: 'asc',
},
],
})

@!atoms.appInput({
label: 'Recherche',
name: 'name',
type: 'text',
placeholder: 'Nom de l\'association',
value: request.qs().name ?? ''
})

@!atoms.appSelect({
label: 'Catégorie',
name: 'category_id',
selected: request.qs().category_id ?? '',
options: categories,
defaultLabel: 'Toutes les catégories',
})

@!atoms.appSelect({
label: 'École',
name: 'school_id',
selected: request.qs().school_id ?? '',
options: schools,
defaultLabel: 'Toutes les écoles',
})
@endslot

@end
