@atoms.appFilter({
action: route('VotesController.index'),
target: '[grid], [value], [chart]'
})
@slot('main')

@!form.select({
label: 'Trier par',
name: 'order_by',
selected: request.qs().order_by ?? '',
options: [
{
label: 'Date',
value: 'created_at',
},
{
label: 'Adresse mail',
value: 'email',
},
],
})

@!form.select({
label: 'Ordre',
name: 'order',
selected: request.qs().order ?? '',
options: [
{
label: 'Décroissant',
value: 'desc',
},
{
label: 'Croissant',
value: 'asc',
},
],
})

@!form.input({
label: 'Recherche',
name: 'email',
type: 'text',
placeholder: 'Contenu de l\'adresse mail',
value: request.qs().email ?? ''
})

@!form.select({
label: 'Association',
name: 'association_id',
selected: request.qs().association_id ?? '',
options: associations,
defaultLabel: 'Toutes les Associations',
})

@!form.select({
label: 'Année',
name: 'year_id',
selected: request.qs().year_id ?? '',
options: years,
defaultLabel: 'Toutes les Années',
})

@endslot
@end
