@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.up-current {
  color: theme('colors.primary.base');
}

footer .up-current {
  color: theme('colors.primary.variation-1');
}

up-progress-bar {
  background-color: theme('backgroundColor.primary.variation-1');
}

[x-cloak] {
  display: none !important;
}

[data-trix-button-group='file-tools'] {
  display: none !important;
}

.related-description,
.related-description>* {
  display: inline-flex;
  flex-direction: column;
  text-align: justify;
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.normal');
  color: theme('colors.black');
}

.related-description br {
  display: none;
}

.related-description strong {
  font-weight: theme('fontWeight.normal');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300 900;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}

up-modal-backdrop {
  @apply fixed inset-0 bg-black bg-opacity-70 backdrop-blur-[32px];
}

up-modal-viewport {
  @apply flex w-full items-center justify-center !p-0;
}

up-modal-box {
  @apply max-w-screen-sm bg-ultra-light-grey p-4 shadow-none;
}

@media screen(sm) {
  up-modal-box {
    border-radius: theme('borderRadius.2xl');
  }
}

up-modal[size='medium'] up-modal-box {
  width: theme('width.full');
}

@media screen(md) {
  up-modal[size='medium'] up-modal-box {
    width: theme('width.3/4');
  }
}

@media screen(lg) {
  up-modal[size='medium'] up-modal-box {
    width: theme('width.1/2');
  }
}

up-modal-dismiss {
  display: none;
}
