@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.up-current {
  @apply cursor-default font-semibold text-primary-variation-1 hover:!scale-100;
}

up-progress-bar {
  @apply bg-primary-variation-1;
}

[x-cloak] {
  display: none !important;
}

[data-trix-button-group='file-tools'] {
  display: none !important;
}

.related-description,
.related-description > * {
  @apply inline-flex flex-col text-justify text-sm font-normal text-black;
}

.related-description br {
  @apply hidden;
}

.related-description strong {
  @apply font-normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300 900;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}
