@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.up-current {
  @apply font-semibold text-primary-variation-1;
}

up-progress-bar {
  @apply bg-primary-variation-1;
}

[x-cloak] {
  display: none !important;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}
