<div class="flex flex-col gap-1">
  @!atoms.appLabel({
  label: label,
  name: name,
  })
  <textarea
    class="px-[0.75rem] py-[0.375rem] border-2 border-accent-purple hover:border-primary-variation-1 focus:border-primary-variation-1 rounded-lg text-base text-black focus:outline-none transition ease-in focus:ring-0"
    id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" rows="5">{{ content }}</textarea>
</div>
