<div class="flex flex-col gap-1">
  @!atoms.appLabel({
  label,
  name,
  })
  <input
    class="bg-transparent border-2 border-accent-purple hover:border-primary-variation-1 focus:border-primary-variation-1 rounded-lg px-[0.75rem] py-2 text-base text-black focus:outline-none transition ease-in cursor-pointer"
    id="{{ name }}" name="{{ name }}" value="{{ value ? value : '' }}" type="{{ type }}" placeholder="{{ placeholder }}"
    {{ autofocus ? 'autofocus' : '' }} />
</div>
