<form action="{{ route('SchoolsController.update', { id: school.slug }) }}?_method=PATCH" method="POST">
  {{ csrfField() }}

  <label for="name">Nom</label>
  <input type=text id="name" name="name" placeholder="Nom de l'école" value="{{ school.name}}" autofocus>
  @if(flashMessages.has('errors.name'))
  <p> {{ flashMessages.get('errors.name') }} </p>
  @end

  <button type=" submit">Éditer</button>

</form>
