<form action="{{ route('AssociationsController.updateImage', {id: association.slug }) }}?_method=PATCH" method="POST"
  enctype="multipart/form-data">
  {{ csrfField() }}

  <label for="image">Image</label>
  <input type=file id="image" name="image" accept="image/png, image/jpg, image/jpeg, image/webp">
  @if(flashMessages.has('errors.image'))
  <p> {{ flashMessages.get('errors.image') }} </p>
  @endif

  <button type="submit">Éditer l'image</button>

</form>
