@layout('layouts/main')
@set('title', 'Les Associations')

@section('body')
<a href="{{ route('AssociationsController.create') }}"> Créer </a>

<ul>
  @each(association in associations)
  <li>
    <a href="{{ route('AssociationsController.show', { id: association.slug }) }}">
      @!molecules.cardAssociation({ association })
    </a>
  </li>
  @endeach
</ul>
@endsection
