@layout('layouts/main')
@set('title', 'Comprendre le vote')

@section('main')

<div class="mt-6 mb-14 lg:mb-[4.5rem] px-4">
  <div class="mx-auto prose md:prose-lg lg:prose-xl">
    {{{ html}}}
  </div>
</div>

@endsection
