<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Le Classement des Associations</title>
    @entryPointScripts('app')
    @entryPointStyles('app')
  </head>

  <body>
    @!organisms.theOverHeader()

    @!section('body')

    @!organisms.theFooter()

  </body>

</html>
