<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Le Classement des Associations</title>
    <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}">
    @entryPointScripts('app')
    @entryPointStyles('app')
  </head>

  <body class="font-montserrat overflow-x-hidden">

    @include('partials/over-header')
    @include('partials/header')

    @!section('body')

    @include('partials/footer')

  </body>

</html>
